<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neo4j Operation System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<style>
    .list-node {
        border: 1px solid gainsboro;
        border-radius: 5px;
        margin-top: 1rem;
    }

    .list-node .title {
        border-bottom: 1px solid gainsboro;
        padding: 0.5rem 1.25rem;
    }

    .parent-select:hover {
        /* scale: 1.002; */
        border: 2px solid #6798e2;
    }
</style>
<body>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid" style="width: 85%;">
            <a class="navbar-brand"><img src="{{ url_for('static', filename='logo.png')}}" width="45"
                    alt="Neo4j World's Leading Graph Database" id="logo">
                Neo4j Hệ Điều Hành</a>
    <a href="http://localhost:5173">Graph</a>
            <button type="button" class="btn btn-success ms-auto me-4" data-bs-toggle="modal"
                data-bs-target="#add-child-node">
                Thêm kiến thức mới
            </button>
            <div class="modal fade" id="add-child-node" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form id="addNodeForm" method="POST" action="/create-node" class="form-control">
                            <div class="mb-3">
                                <!-- <label type="hidden">Node cha: </label> -->
                                <input type="hidden" name="Parent_Node" value="{{ nodes[0].labels }}"
                                    class="form-control" required />
                            </div>
                            <div class="mb-3">
                                <label>Mối quan hệ: </label>
                                <input name="Relationship" class="form-control" />
                            </div>
                            <div class="mb-3">
                                <label>Tiêu đề: </label>
                                <input name="Title" class="form-control" />
                            </div>
                            <div class="mb-3">
                                <label>Định nghĩa: </label>
                                <input name="Concept" class="form-control" />
                            </div>
                            <div class="mb-3">
                                <label>Ví dụ: </label>
                                <input name="Example" class="form-control" />
                            </div>
                            <div class="mb-3">
                                <label>Tên gọi khác: </label>
                                <input name="OtherName" class="form-control" />
                            </div>
                            <div class="mb-3">
                                <label>Tên tiếng anh: </label>
                                <input name="EnglishName" class="form-control" />
                            </div>
                            <div class="mb-3">
                                <div id="additional-properties"></div>
                                <button class="btn btn-outline-primary" type="button" onclick="addProperty()">
                                    Thuộc tính khác
                                </button>
                            </div>
                            <button class="btn btn-primary mt-2" type="submit" data-bs-dismiss="modal"
                                id="submit-form">Save</button>
                            <button type="button" class="btn btn-secondary mt-2" data-bs-dismiss="modal">Close</button>
                        </form>
                    </div>
                </div>
            </div>
            <div style="width: 30%;">
                <form class="d-flex" role="search" action="{{ url_for('search') }}" method="POST">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                        name="query">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>

        </div>
    </nav>
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <ul>
            {%- for msg in errors %}
            <li>{{ msg }}</li>
            {% endfor -%}
        </ul>

        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {% endwith %}

    {% with messages = get_flashed_messages(category_filter=["success"]) %}
    {% if messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <ul>
            {%- for msg in messages %}
            <li>{{ msg }}</li>
            {% endfor -%}
        </ul>

        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {% endwith %}
    <div class="container">
        <div class="list-node">
            <h5 class="title bg-body-tertiary">Các chương chính</h5>
            <table class="table-node table table-striped" id="table">
                <thead>
                    <tr>
                        <th scope="col" style="width: 20%;">Tiêu đề</th>
                        <th scope="col" style="width: 65%;">Nội dung</th>
                        <th scope="col" style="width: 15%;">Thao tác</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                    {% for node in nodes %}
                    <tr class="parent-select">
                        <td class="fw-semibold text-capitalize">
                            <a href="/detail/{{ node.labels }}" style="color: black; text-decoration: none;">
                                 {{ node.Title }}
                            </a>
                        </td>
                        <td>
                            {{ node.Concept }} 
                        </td>
                        <td>
                            <div class="d-flex gap-2">
                                <form action="/delete-node" method="post"
                                    onsubmit="return confirm('Bạn có chắc muốn xóa kiến thức này?');">
                                    <input type="hidden" name="Title" value="{{ node.Title }}" />
                                    <button class="btn btn-danger">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                            fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
                                        </svg>
                                    </button>
                                </form>

                                <button class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#edit-node-{{ node.labels }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                                        class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path
                                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                        <path fill-rule="evenodd"
                                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                    </svg>
                                </button>

                                <div class="modal fade" id="edit-node-{{ node.labels }}" tabindex="-1"
                                    aria-labelledby="exampleModalLabel">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <form id="editNodeForm-{{node.Title}}" method="POST" action="/edit-node"
                                                class="form-control">
                                                {% for key, value in node.items() %}
                                                {% if key != 'labels' %}
                                                <div class="mb-3">
                                                    <label for="{{ key }}">{{ dict[key] | capitalize }}: </label>
                                                    <input id="{{ key }}" name="{{ key }}" value="{{ value }}"
                                                        class="form-control" {% if key=='Title' %}readonly{% endif %}
                                                        required />
                                                </div>
                                                {%endif%}
                                                {% endfor %}
                                                <button class="btn btn-primary mt-2" type="submit"
                                                    id="submit-form">Save</button>
                                                <button type="button" class="btn btn-secondary mt-2"
                                                    data-bs-dismiss="modal">Close</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
<script>
    function addProperty() {
    var additionalProperties = document.getElementById('additional-properties');

    var propertyDiv = document.createElement('div');
    propertyDiv.classList.add('mb-3', 'property-group');

    var namePropertyInput = document.createElement('input');
    namePropertyInput.setAttribute('name', 'property_name');
    namePropertyInput.setAttribute('class', 'form-control mt-2');
    namePropertyInput.setAttribute('placeholder', 'Tên thuộc tính');

    var valuePropertyInput = document.createElement('input');
    valuePropertyInput.setAttribute('name', 'property_value');
    valuePropertyInput.setAttribute('class', 'form-control mt-2');
    valuePropertyInput.setAttribute('placeholder', 'Nội dung');

    var removeButton = document.createElement('button');
    removeButton.setAttribute('type', 'button');
    removeButton.setAttribute('class', 'btn btn-danger mt-2');
    removeButton.textContent = 'Xóa';
    removeButton.onclick = function () {
        additionalProperties.removeChild(propertyDiv);
    };

    propertyDiv.appendChild(namePropertyInput);
    propertyDiv.appendChild(valuePropertyInput);
    propertyDiv.appendChild(removeButton);

    additionalProperties.appendChild(propertyDiv);
}




    function searchData() {
        const keyword = document.getElementById('searchInput').value;

        fetch(`/search?keyword=${keyword}`)
            .then(response => response.json())
            .then(data => {
                const tableBody = document.getElementById('tableBody');
                tableBody.innerHTML = '';

                data.forEach(item => {
                    const row = document.createElement('tr');
                    row.innerHTML = `
          <td>${item.Title}</td>
          <td>${item.Concept}</td>
        `;
                    tableBody.appendChild(row);
                });
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }



</script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

<!-- <script src="{{ url_for('static', filename='js/script.js')}}"></script> -->

</html>
